.signInButton {
  height: 3rem;
  border-radius: 3rem;
  background: var(--gray-850);
  border: none;
  padding: 0 1.5rem;
  
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white);
  font-weight: bold;

  svg {
    width: 20px;
    height: 20px;
  }

  svg:first-child {
    margin-right: 1rem;
  }

  svg.closeIcon {
    margin-left: 1rem;
  }

  transition: filter .2s;

  &:hover {
    filter: brightness(0.8);
  }

  @media (max-width: 620px) {
    width: 6.5rem;

    svg:first-child {
      margin-right: .4rem;
    }
    
    span {
      display: none;
    }
  }

  @media (max-width: 520px) {
    width: 14rem;
    height: 4rem;
    margin-top: 2rem;

    span {
      display: inline-block;
    }
  }
}

svg.closeIcon {
  margin-left: .4rem;
  cursor: pointer;

  transition: transform .45s;

  &:hover {
    transform: scale(1.3);
  }
}

.authenticated {
  cursor: default;
  
  &:hover {
    filter: none;
  }
}